<form autocomplete="off" (submit)="onSalvar()" #form="ngForm">
    <div class="form-row">
        <div class="col-sm mb-3">
            <app-custom-input [(ngModel)]="restaurante.nome" name="nome" label="Nome" required #nome="ngModel"
                [control]="nome"></app-custom-input>
        </div>
    </div>

    <button class="btn btn-danger" type="reset" (click)="onCancelar()"><i class="fa fa-ban"></i> Cancelar</button>
    <button class="btn btn-success ml-2" type="submit" [disabled]="form.invalid"><i class="fa fa-save"></i> Salvar</button>
</form>
