<h4>Pratos</h4>

<a class="btn btn-success mt-3" routerLink="novo"><i class="fa fa-plus"></i> Cadastrar Novo Prato</a>

<div class="row mt-4">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">#</th>
                        <th scope="col">Restaurante</th>
                        <th scope="col">Prato</th>
                        <th scope="col">Preço</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let prato of pratos">
                        <td>
                            <a class="btn btn-outline-primary btn-sm mr-md-3 mr-2" [routerLink]="prato.id">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <button class="btn btn-outline-danger btn-sm" (click)="delete(prato.id)">
                                <i class="fa fa-minus"></i>
                            </button>
                        </td>
                        <td>{{ prato.id }}</td>
                        <td>{{ prato.restaurante?.nome }}</td>
                        <td>{{ prato.nome }}</td>
                        <td>{{ prato.preco | currency:'BRL' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
